// Variables
@import 'variables';
.required{
	&:after{
		content: "*";
		color: #e02b27;
		font-size: 1rem!important;
		margin: 0 0 0 5px!important;
	}
}
input[type="text"], input[type="password"], input[type="email"]{
	background: transparent!important;
}
.login-pre{
	.head{
		// overflow: hidden;
		img{
			width: 110px;
			// height: 100%;
		}
	}
	.login-wrapper{
		max-width: 350px;
		padding-top: 17px;
		.login-pre-body{
			.login-header{
				font-size: 18px;
				color: #424242;
				line-height: 25px;
				margin-bottom: 20px;
			}
			.login-pre-form{
				.emailORphoneINPUT, .inputBox{
					width: 100%;
					background-color: #fff;
					height: 30px;
					border: none;
					border-bottom: 1px solid #a6a6a6;
					margin: 5px 0;
					line-height: 30px;
					border-radius: 0;
					padding-left: 0;
					padding-right: 0;
					&:focus{
						outline: 0!important;
						box-shadow: none!important;
					}
				}
				.action-button{
					background-color: $color-primary;
					cursor: pointer;
					border-radius: 3px;
					margin: 35px 0 10px;
					text-align: center;
					text-transform: uppercase;
					&:hover{
						background-color: $color-secondary;
						color: white;
						font-weight: bold;
					}
				}
			}
			.continue-with{
				text-align: center;
				font-size: 12px;
			}
			.social-action{
				display: flex;
				justify-content: space-around;
				.social-login-fb, .social-login-gm{
					border: 1px solid #e0e0e0;
					border-radius: 3px;
					cursor: pointer;
					display: inline-block;
					padding: 6px 18px;
				}
			}
			.register-new{
				margin-top: 20px;
				text-align: center;
				font-size: 12px;
				text-decoration: none;
				cursor: pointer;
				color: #2979ff;
			}
			.agree-text{
				margin-top: 25px;
				border-top: 1px solid #e0e0e0;
				padding: 15px 0 0;
				font-size: 12px;
				color: #424242;
				line-height: 17px;
			}
		}
	}
}

// mobile device
@media (max-width: $medium) {
	.login-pre{

	}
}

// desktop or large device
@media (min-width: $medium+1) {
	.login-pre{

	}
}

