
.sale-price{
	font-weight: bold;
	font-size: 18px;
}
.cut-price{
	padding-left: 10px;
	font-size: 14px;
}
.percent-off{
	color: red;
	padding-left: 10px;
	font-size: 11px;
}
.category-page{
	width: 98%; 
	margin: auto; 
	margin-top: 20px;
	.product-row{
		.product-item{
			margin-bottom: 10px;
			padding-right: 5px;
			padding-left: 5px;
			.item-body{
				display: inline-block;
				.card {
					border: none;
					.card-body{
						color: #282828;
						.card-title{
							font-size: 12px;
							// font-weight: bold;
							overflow-wrap: break-word;
						}
						.card-text{
							.sale-price{
								font-weight: bold;
							}
							.cut-price{

							}
							.percent-off{
								color: red;
								padding-left: 16px;
							}
						}
					}
				}
				.activeOnHover{
					display: none;
				}
				.hideOnHover{
					display: block;
				}
				&:hover{				
					background-color: #fff;
					border-radius: 4px;
					box-shadow: 0 0 4px 1px #aaa;
					width: 100%;
					text-decoration: none;
					.activeOnHover{
						display: block!important;
					}
					.hideOnHover{
						display: none!important;
					}
				}
			}
		}
	}
}
.filter-by{
	background: #eee;
	border: 1px solid #e8e8e8;
	height: 33px;
	line-height: 33px;
	margin-top: 4px;
	padding: 0 13px 0 12px;
	font-weight: bold;
	font-family: sans-serif;
}

.filter-wrapper{
	.filter-title{
		position: relative;
		background: transparent;
		border: 1px solid #e8e8e8;
		height: 33px;
		line-height: 33px;
		margin-top: 4px;
		padding: 0 13px 0 12px;
		font-weight: bold;
		font-family: sans-serif;
		cursor: pointer;
		.filter-title-arrow{
			position: absolute;
			top: 12px;
			right: 8px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #555;
		}
	}
	ul{
		list-style: none;
		padding: 0;
		li{
			display: flex;
			align-items: center;
			input[type="checkbox"]{
				margin-left: 2px;
				margin-right: 5px;
				cursor: pointer;
			}
			a{
				font-size: 13px;
				color: #757575;
				line-height: 18px;
			}
		}
	}
}