// Variables
@import 'variables';

.header-vue{
	.nav-brand-anchor{
		width: 100px;
	}
}
@media (max-width: $medium) {
	.header-vue{
		.desk-menu{
			display: none;
		}
		#sidebar-backdrop{
			.b-sidebar-header{
				position: absolute;
				right: 0;
			}
			.sidebar-header{
				height: 67px;
				margin: auto;
				background-image: url("img/main-bg.jpg");
				background-repeat: repeat;

				.action-menu{
					padding:13px;
				}
				.fa-user-icon{
					border: 1px solid;
					border-radius: 25px;
					padding: 4px;
					font-size: 22px;
					color: $color-primary;
				}
				.login-btn{
					margin-left: 5px;
					color: black;
				}
			}
			.header-img{
				width: 100px;
				overflow: hidden;
			}
			.sidebar-header-menu{
				ul{
					flex-direction: row;
					list-style: none;
					padding-top: 4px!important;
					padding-left: 6px!important;
					padding-right: 6px!important;
					li{
						text-align: center;
						font-size: 13px;
					}
				}
			}
			.sidebar-body {
				.sidebar-menu{
					ul{
						flex-direction: row;
						list-style: none;
						padding-top: 4px!important;
						padding-left: 6px!important;
						padding-right: 6px!important;
						li{
							font-size: 13px;
							a{
								i{
									
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: $medium+1) {
	.header-vue{
		.desk-menu{
			display: block;
		}
	}
	.navbar-menu li{

		a{
			border-right: 1px solid;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.serach-box{
		height: 28px;
		width: 405px;
		text-align: left;
		color: #676767;
		line-height: 30px;
		padding: 17px;
		border: 1px solid #EEEEEE;
		border-radius: 5px;
		margin: 2px;
	}

	.serach-btn{
		height: 28px;
		color: #676767;
		background: white;
		border: 1px solid #EEEEEE;
		border-radius: 5px;
		margin-left: -4px;
		margin-top: 2px;
		padding: 17px;
		span{
			background: white;
			border: none;
			padding: 0;
		}
	}
	.menu-container{
		height: 50px;
		width: 100%;
		background-color: #ffd91c;
		z-index: 10;

		.navbar{
			height: 50px;
		}
		.product-menubar-ul{
			li{
				height: 50px;
				a.nav-link{
					color: #575757!important;
					height: 100%;
					display: flex;
					align-items: center;
					// transition: 0.3s;
					// padding: 12px;
					// margin-top: 12px;
					&:hover{
						background: #fff;
						border-top: 4px solid #ffd91c;
					}
				}
			}
		}
		.dropdown-menu{
			overflow-y: auto;
			max-height: 400px;
			right: 0;
			border-top: none;
		}

		.navbar .nav-item .dropdown-menu{ display: none; }
		.navbar .nav-item:hover .nav-link{ color: #fff;  }
		.navbar .nav-item:hover .dropdown-menu{ display: block; }
		.navbar .nav-item .dropdown-menu{ margin-top:0; }
	}
}