// Variables
@import 'variables';

body{
	background-image: url("img/kids-bg.jpg");
	background-repeat: repeat;
	background-color: #fff;
	color: #333e48;
	font-family: roboto,sans-serif;
	font-size: 14px;
	line-height: 22px;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
}

.action-button {
	background-color: #00A9E2;
	cursor: pointer;
	border-radius: 3px;
	margin: 35px 0 10px;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-style: normal;
	&:hover{
		background-color: #0153B4;
		color: white;
		font-weight: bold;
		font-style: normal;
	}
}

.header-vue{
	background-color: #fff;
	.nav-brand-anchor{
		width: 100px;
	}
}
.modal-backdrop {
	z-index: -1;
}


@media (max-width: $medium) {
	.header-vue{
		.mobile-nav-menu-icon{
			display: flex;
			flex-direction: row;
			font-size: 20px;
			span#mobCartItemCounter {    
				top: -5px;
				right: -19px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20px;
				height: 20px;
				text-align: center;
				color: #ffffe8;
				border-radius: 50%;
				position: absolute;
				background: $color-primary;
				text-shadow: 1px 1px 0 #1c1c1c;
				font: 300 normal 0.8em/1.8 'Roboto Slab';
				// -webkit-box-shadow: 0 0 0 1px rgba(22,22,22,0.8);
				// box-shadow: 0 0 0 1px rgba(22,22,22,0.8);
				// background: -webkit-linear-gradient(-45deg, #c80724 0%, #bf011b 50%, #9f0118 100%);
				// background: -moz-linear-gradient(-45deg, #c80724 0%, #bf011b 50%, #9f0118 100%);
				// background: -o-linear-gradient(-45deg, #c80724 0%, #bf011b 50%, #9f0118 100%);
				// background: linear-gradient(-45deg, #c80724 0%, #bf011b 50%, #9f0118 100%);
				&:before {
					top: 18px;
					width: 0px;
					height: 0px;
					right: 11px;
					content: '';
					position: absolute;
					border-style: solid;
					border-width: 8px 6px 0 0;
					-webkit-transform: rotate(24deg);
					-moz-transform: rotate(24deg);
					transform: rotate(24deg);
					border-color: $color-primary transparent transparent transparent;
				}
			}
			.mob-cart-btn{
				position: relative;
				margin-left: 16px;
				margin-right: 16px;
			}
			.mob-search-btn{
				margin-right: 16px;
			}
			.modal-dialog{
				height: 100%;
				margin: auto;
				.modal-content{
					height: 100%;
					.modal-header{
						padding-left: 0!important;
						padding-right: 0!important;
						.input-group{
							button.close{
								&:focus{
									outline: 0!important;
								}
							}
							.mob-search-inputbox{
								border: none;
								&:focus{
									outline: 0!important;
								}
							}
						}
					}
				}
			}
		}
		.desk-menu{
			display: none;
		}
		.navbar {
			display: inline-block!important;
			.for-mob-header{
				display: flex;
				justify-content: space-between;
				align-items: center;
				button.navbar-toggler{
					height: 43px;
				}
			}
		}
		#sidebar-backdrop{
			.b-sidebar-header{
				position: absolute;
				right: 0;
			}
			.sidebar-header{
				height: 67px;
				margin: auto;
				background-image: url("img/main-bg.jpg");
				background-repeat: repeat;

				.action-menu{
					padding:13px;
				}
				.fa-user-icon{
					border: 1px solid;
					border-radius: 25px;
					padding: 4px;
					font-size: 22px;
					color: $color-primary;
				}
				.login-btn{
					margin-left: 5px;
					color: black;
				}
			}
			.header-img{
				width: 100px;
				overflow: hidden;
			}
			.sidebar-header-menu{
				ul{
					flex-direction: row;
					list-style: none;
					padding-top: 4px!important;
					padding-left: 6px!important;
					padding-right: 6px!important;
					li{
						text-align: center;
						font-size: 13px;
						a{
							color: black;
						}
					}
				}
			}
			.sidebar-body {
				.sidebar-menu{
					ul{
						flex-direction: row;
						list-style: none;
						padding-top: 4px!important;
						padding-left: 6px!important;
						padding-right: 6px!important;
						li{
							font-size: 13px;
							a{
								i{
									
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: $medium+1) {
	.header-vue{
		.mobile-nav-menu-icon{
			display: none;
		}
		.desk-menu{
			display: block;
		}
	}
	.navbar-menu li{

		a{
			border-right: 1px solid;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.serach-box{
		height: 28px;
		width: 405px;
		text-align: left;
		color: #676767;
		line-height: 30px;
		padding: 17px;
		border: 1px solid #EEEEEE;
		border-radius: 5px;
		margin: 2px;
	}

	.serach-btn{
		height: 28px;
		color: #676767;
		background: white;
		border: 1px solid #EEEEEE;
		border-radius: 5px;
		margin-left: -4px;
		margin-top: 2px;
		padding: 17px;
		span{
			background: white;
			border: none;
			padding: 0;
		}
	}
	.menu-container{
		height: 50px;
		width: 100%;
		background-color: #ffd91c;
		z-index: 10;
		box-shadow: 0 3px 3px rgba(0,0,0,0.2);

		.navbar{
			height: 50px;
		}
		.product-menubar-ul{
			li{
				a.nav-link{
					color: #575757!important;
					height: 100%;
					display: flex;
					align-items: center;
					// transition: 0.3s;
					// padding: 12px;
					// margin-top: 12px;
					&:hover{
						background: #fff;
						border-top: 4px solid #ffd91c;
					}
				}

				.submenuBlock{
					ul{
						list-style: none;
						padding: 0;
						li{
							a{
								font-size: 13px;
								color: #757575;
								line-height: 18px;
								&:hover{
									text-decoration: none;
									color: black;
								}
							}
						}
						div.hborder {
							width: 140px;
							height: 1px;
							margin: 12px 0;
							background-color: #eaeaec;
						}
					}
				}
			}
		}
		.dropdown-menu{
			overflow-y: auto;
			max-height: 500px;
			right: 0;
			border-top: none;
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
			.category-pre-banner{
				img{
					width: 100%;
				}
			}
		}

		.navbar .nav-item .dropdown-menu{ display: none; }
		.navbar .nav-item:hover .nav-link{ color: #fff;  }
		.navbar .nav-item:hover .dropdown-menu{ display: block; }
		.navbar .nav-item .dropdown-menu{ margin-top:0; }

	}

	.cart-li{
		.nav-link{
			border-right: none!important;
		}
	}

	span#cartItemCounter {   
		font-size: 15px!important; 
		top: 19px;
		right: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 23px;
		height: 23px;
		text-align: center;
		color: #ffffe8;
		border-radius: 50%;
		position: absolute;
		background: $color-primary;
		text-shadow: 1px 1px 0 #1c1c1c;
		font: 300 normal 0.8em/1.8 'Roboto Slab';
		// -webkit-box-shadow: 0 0 0 1px rgba(22,22,22,0.8);
		// box-shadow: 0 0 0 1px rgba(22,22,22,0.8);
		// background: -webkit-linear-gradient(-45deg, #c80724 0%, #bf011b 50%, #9f0118 100%);
		// background: -moz-linear-gradient(-45deg, #c80724 0%, #bf011b 50%, #9f0118 100%);
		// background: -o-linear-gradient(-45deg, #c80724 0%, #bf011b 50%, #9f0118 100%);
		// background: linear-gradient(-45deg, #c80724 0%, #bf011b 50%, #9f0118 100%);
		&:before {
			top: 22px;
			width: 0px;
			height: 0px;
			right: 11px;
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 8px 6px 0 0;
			-webkit-transform: rotate(24deg);
			-moz-transform: rotate(24deg);
			transform: rotate(24deg);
			border-color: $color-primary transparent transparent transparent;
		}
	}

}